@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'DeliciousBold';
    src: url('../fonts/delicious-bold-webfont.eot');
    src: url('../fonts/delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/delicious-bold-webfont.woff') format('woff'),
         url('../fonts/delicious-bold-webfont.ttf') format('truetype'),
         url('../fonts/delicious-bold-webfont.svg#DeliciousBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atzTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atzUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at0bcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2o_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at76up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0atyYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nE8xhg-WlD4iG4AP-V7QxYA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nN_eC2PfU-cUGGN7U-FIfKc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nLvM2QJLsjx6Keu1D2MYodo.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nNd5cRMOq5PeG3VabknWPxo.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nLpX8dGXLalyu5OokvgDQcs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nPVFL0ofnRu5Y2lP-UpEUGU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	font-family: 'Droid Sans', helvetica,arial;
    font-weight: lighter;
    /*font-size: 24px;*/
}

h1, h2, h3 {
	font-weight: normal;
	font-family:'DeliciousBold', helvetica, arial !important;
	font-weight: lighter;
	letter-spacing: -0.07em;
	line-height: 100%;
	font-size:36px;

}

.ponerFull{
   padding-right: 0 !important;
   padding-left: 0 !important;
}

.inicio{
	margin-bottom: 5%;
}
.navS{
	font-weight: 'normal';
	font-size: 17px;
	z-index: 100;
    position: absolute !important;
    background: url('../img/header-shadow.png') repeat-x left bottom;
}

.navS ul{
	margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 0;
   /* width: 780px;
    height: 35px;
    border-radius: 8px 8px 8px 8px;
    padding: 3px 0px;*/
}

.navS li{
	display: inline-block;
	margin-left: 3%;

}

.navS ul>li>a{
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-family: 'DeliciousBold', helvetica, arial;
}

.navS ul>li>a:hover{
    color: #e3cda4;
	/*    text-decoration: none; 
    color: #fff;
    -o-text-shadow: 0 0 5px #FFF;
    -moz-text-shadow: 0 0 5px #FFF;
    -webkit-text-shadow: 0 0 5px #FFF;
    text-shadow: 0 0 5px #FFF; 
    margin: 0 5px; 
     -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); */
}



body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 8%;
}


.form-signin-heading h1{
    text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.redes-sociales a>img:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*------------------------------------HOME-PAGE-----------------------------------*/

.homePage{
    margin-top: 5%;
}

#usuario{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    font-weight: lighter;
    color: white;
}

.NoticiasHome img{
  width: 100px;
  height: 100px;
}
.btn-noticias{
  float: right;
  color: #4ab5e2;
}

@keyframes tamañoColor {
    0% {color: white;}
    25% {color: red;}
    50% {color: white;}
    75% {color: red;}
    100% {color: white;}
}

#animacionInformacion{
  animation: tamañoColor 1.5s infinite;
}

.contenedorHomeBackend > .row {
  margin-bottom: 2%;
  margin-top: 2%;
}

.contenedorHomeBackend{
  text-align: center;
}

.contenedorHomeBackend > .row > .col-md-3 > a{
  text-decoration: none;
}


.contenedorHomeBackend img{
  width: 100px;
  height: 100px;  
  float: inherit;
}

.cuadroYSKR{
  opacity: 1 !important;
  width: 30%;
  margin-bottom: 2%;
}

#insLogo{
    width: 18%;
    float: left;
    margin-bottom: 7%;
}

.facebookImg{
  opacity: 1 !important;
  width: 30%;
  margin-bottom: 2%;
}

#faceLogo{
   width: 22%;
    float: left;
    margin-bottom: 7%;
    margin-top: 10%;
}

.dashboard{
  background-color: #eaeaea;
}

.AsistenciaGraph{
  width: 100%;
  height: 300px;
}

.hrDashBoard{
  border: none;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    
}
.CajaGeneralDashBoard{
  background-color: #f5f5f5;
  width: 100%;
}

.CajaActividades{
  min-height: 145px;
  width: 100%;
}

.margenRow > .row{
 /*margin-bottom: 1%;*/
}

.jqx-bulletchart-range {
  opacity: 1 !important;
}

#chartContainer1 > table > tbody > tr > td > .chartContainer > svg > g > rect{
  fill: rgba(255, 0, 0, 0.74) !important ;
}

#chartContainer1 > table > tbody > tr > td > .chartContainer > svg > g > rect{
  fill: rgba(255, 0, 0, 0.74) !important ;
}

#chartContainer2 > table > tbody > tr > td > .chartContainer > svg > g > rect{
  fill: rgba(255, 106, 0, 0.74) !important ;
}

#chartContainer3 > table > tbody > tr > td > .chartContainer > svg > g > rect{
  fill: rgba(255, 224, 0, 0.74) !important ;
}

#chartContainer4 > table > tbody > tr > td > .chartContainer > svg > g > rect{
  fill: rgba(86, 255, 0, 0.74) !important ;
}

/*----------------------------NOTICIAS---------------------------------------------*/

.noticias{
    background-color: #d7d7d7;
}

.noticias h1{
    margin-bottom: -1%;

}

.noticias p{
    margin-top: 5px;
    color: #464646;
    line-height: 1.25;
    font-weight: 400;
    font-size: 16px;
}

.noticias hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #B9B7B7;;
}

.estiloButon {
    font-size: 16px;
    color: white;
    background: #383838;
    display: inline-block;
    height: 36px;
    line-height: 32px;
    padding: 2px 22px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: -1%;
}

.noticiasView{
  margin-top: 12%;
  margin-bottom: 10%;
}
.itemNoticia{
  border: 1px solid #ddd;
  border-radius: 20px; 
  margin-bottom: 2%;
  background-color: #E0E0E0;
  margin-right: 2% !important;
}

.itemNoticia img{
    width: 100%;
    max-height: 185px;
    margin-bottom: 3%;
    border-radius: 10px;
    margin-top: 3%;
}

.noticiasSingleView{
  margin-top: 10%;
}
.noticiasSingleView p{
  text-align: justify;
  font-size: 18px;
}

.retorno-noticias{
  margin-top: 2%;

}

.retorno-noticias a{
  font-size: 18px;
}
/*-----------------------------------Fin NOticias---------------------------------------------*/
/*-----------------------------------Liderazgo---------------------------------------------------*/
.liderazgo{
    background: url('../img/bg.gif') repeat center;
    min-height: 250px;
}
.liderazgo img{
    border-radius: 160px;
    top: -80px;
}
.liderazgo p{
   font-size: 16px;
    line-height: 32px;
    font-style: italic;
    color: #723130;
    font-family:  'Roboto',Helvetica,Arial,sans-serif;
}

.liderazgo hr{
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #FFFFFF;;
}

.liderazgo a{
    font-size: 16px;
    color: #486880;
    background: rgba(206, 166, 146, 0.98);
    display: inline-block;
    height: 36px;
    line-height: 32px;
    padding: 2px 22px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: -1%;
}

.opcionLider1, .opcionLider2, .opcionLider3{
  display: none;
}

.estructuraSigleLider img{
    max-width: 260px;
    min-width: 260px;
    max-height: 300px;
    min-height: 300px;
}

/*-----------------------------------Fin Liderazgo------------------------------------------------*/

/*-----------------------------------Multimedia-------------------------------------------------*/
.multimedia{
    background-image: url('../img/FondoMultimedia.jpg');
}
.multimedia img{
    width: 80%;
}

.multimedia h1{
    color:#FFFFFF;
}

.multimedia hr{
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #B9B7B7;
}

.multimedia a {
    font-size: 16px;
    color: white;
    background: #59A8CE;
    display: inline-block;
    height: 36px;
    line-height: 32px;
    padding: 2px 22px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: -1%;
}
.cajaFotos { 
  opacity: 1 !important;
  margin-bottom: 10%;
}

.cajaFotos img{
  width: 93%;
  border-radius: 3px;
  border-color: #35250F;
  /*border: 5px #11457B solid*/;

}

.footerEmergencia  > li > div > div > address {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    margin-left: 10% !important;
}

.footerEmergencia  > li > div > div > a{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    margin-left: 10% !important;
}

.footerEmergencia li{
  margin-bottom: 2%;
}

.btn-atras{
  float: right;
}


.AudiosFull> ul{
  min-height: 700px;
}

.TabsAudios li{
  margin-bottom: 2%;
}
.atrasSeries, .atrasSeriesUno {
  margin-top: 0px !important;
      margin-right: 2%;
}
#seriesReturn :hover{ 
  -webkit-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  -moz-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
}

#mensajesReturn :hover{ 
  -webkit-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  -moz-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
}

#tlReturn :hover{ 
  -webkit-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  -moz-box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
  box-shadow: 25px 24px 19px -9px rgba(150,150,150,1);
}







/*----------------------------------Fin Multimedia----------------------------------------------*/

/*-----------------------------------  Nosotros  -------------------------------------------------*/
 
.nosotros{
    background-image: url('../img/nosotros2.png');
    min-height: 550px;
}
.nosotros h1{
    margin-top: 10%;
    font: 300 60px/1.72em 'Roboto',Helvetica,Arial,sans-serif;
    color: #fff;
}

.nosotros p{
    font: 300 30px/1.72em 'Roboto',Helvetica,Arial,sans-serif;
    color: #fff
}







/*----------------------------------Fin Nosotros----------------------------------------------*/


/*------------------------------------Fin HOME PAGE--------------------------------------------*/


/*------------------------------------HOME-PAGE-EDITOR-----------------------------------*/

.homePageEditor{
    margin-top: 5%;
}

/*--------------------------------------------------------------------------------*/


/*------------------------------------Login Page--------------------------------*/

#Log{
    padding-top: 6%;
}
.login-full{
   background-color: #333 !important;
}
.inputLogin{
  margin-top: 2%;
}

.loginText{
  height: 50px;
  background-color: #5bc0de;
  margin-bottom: 10%;
  margin-top: 5%;
      font-size: 15px;
}
.loginText p{
    text-align: center;
    padding-top: 14px;
    color: white;
    font-family: sans-serif;
}
.inputLogin{
  color: #555 !important;
  height: 30px;
  font-weight: 700;
}
.inputLogin::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #959595;
  font-weight: 700;
}
.inputLogin::-moz-placeholder { /* Firefox 19+ */
  color: #959595;
  font-weight: 700;
}
.inputLogin:-ms-input-placeholder { /* IE 10+ */
  color: #959595;
  font-weight: 700;
}
.inputLogin:-moz-placeholder { /* Firefox 18- */
  color: #959595;
  font-weight: 700;
}

.login-full2 p{
  color:white;
}

/*--------------------------------------Fin Login Page-------------------------------------------*/


/*--------------------------Bienvenido--------------------------------*/

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

.sidebar-Full2{
  padding-left: 0px !important; 
  padding-right: 0px !important; 
  background-color: #333;
  color: white;
  font-weight: 700;
  border: none !important;
  min-height: 700px;
  height: auto;
}
.perfilFoto img{
    border-radius: 66px;
    margin-left: 24%;
    margin-bottom: 10%;
    margin-top: 12%;
    width: 53%;
}

.sidebar-Full{
  padding-left: 0px !important; 
  background-color: #333;
  color: white;
  font-weight: 700;
  border: none !important;
  min-height: 700px;
  height: auto;
}

.sidebar-Full>.sidebar-nav>.navbar{
  border: none !important;  
}

.sidebar-Full ul>li>a{
  padding-left: 15%;
  color:#ddd !important;
}

.sidebar-Full ul>li{
  width: 100%;
}

.sidebar-Full2 > .row > .nav >.open>a{
  background-color:#464646 !important;
}

.sidebar-Full2 > .row > .nav > .dropdown > .dropdown-menu{
  background-color:#464646 !important;
  width: 100%;
  border: none !important;
  position: relative;
}


.sidebar-Full2 > .row > .nav > .dropdown > .dropdown-menu > li>a {
  color: white;
  font-weight: 700;
  margin-left: 12%;
}

.sidebar-Full2 > .row > .nav > .dropdown > .dropdown-menu > li>a:hover {
  background-color:#464646 !important;
  color:white !important;
}


.sidebar-Full ul>li:hover{
  color:white !important;
  background-color: #4f4f52 !important;
}

.sidebar-Full ul>li>a>span{
  margin-right: 5%;
}

.activej{
  color:white !important !important;
  background-color:#7b7b80 !important;
}

.header-title{
    background-color: #eee;
    height: 100px;
    padding-top: 15px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin-bottom: 3%;
    padding-left: 2%;
}

.body-parent{
  margin-left: 4.5%;
}

.body-start{
  background-color: #eee;
  margin-top: 3%;
  padding: 30px;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  border-radius: 5px;
}



.body-start button>span {
  margin-right: 5%;
}

.input-filter-miembros-bienvenido{
  margin-top: 1%;
}

.input-filter-miembros-bienvenido span{
  font-size: 20px;
}

.input-filter-familias-bienvenido span{
  font-size: 20px;
}

.SuccessMensajeFamilia{
  display: none;
}

.SuccessMensajeUsuario{
  display: none;
}

.SuccessMensajeUsuarioEliminado{
  display: none;
  position: absolute !important;
  top: 26%;
  z-index: 2;
}
.dangerMensajeContrasenaUsuarioInvalidad{
  display: none;
}
.dangerMensajeContrasenaUsuario{
  display: none;
}

.familiaHeader span{
  text-align: center;
}

.familiaChildContador{
  text-align: center;
}

.btn {
  font-size: 13px !important;
}

.member-box-padre:hover{
 /* -webkit-box-shadow: 1px 0px 10px 3px rgba(49,176,213,1);
-moz-box-shadow: 1px 0px 10px 3px rgba(49,176,213,1);
box-shadow: 1px 0px 10px 3px rgba(49,176,213,1);*/
}

.member-box{
  width: 100%;
  height: auto;
  min-height: 250px !important;
  background-color: #eee;
  margin-bottom: 3%;
  text-align: center;
  padding-top: 5%;
}

.member-box:hover{
  -webkit-box-shadow: 1px 0px 10px 1px rgba(49,176,213,1);
  -moz-box-shadow: 1px 0px 10px 1px rgba(49,176,213,1);
  box-shadow: 1px 0px 10px 1px rgba(49,176,213,1);
}

.member-box img{
  width: 50%;
  margin-bottom: 10%;
  border-radius: 50px;
}
.detalleMiembroPadre{
  margin-top: 5%;
  margin-left: 2% !important;
}

.detalleMiembroPadre2{
  margin-left: 5% !important;
  margin-bottom: 3%;
}

.detalleMiembroHijo2{
  border-top: 1px #ccc solid;
}

.detalleMiembroPadre img{
  border-radius: 75px;
  padding: 10%;
}

.detallemiembroHeader{
  margin-top: 5%;
}
.detallemiembroHeader hr{
    width: 90%;
}
.nombreMiembroDetalle{
  font-size: 20px;
}

.tituloFormularioMembresia {
      font-size: 15px;
    font-weight: 700;
    margin-top: 1%;
    color:#337ab7;
}
#nombreMiembroBienvenido{
  font-size: 15px;
  font-weight: 700;

}
.direccionMiembroBienvenido{
  font-size: 11px;
}

#nombreMiembroBienvenido:hover{
  color:#31b0d5;
  cursor: pointer;
}

.body-box{
  margin-top: 5%;
  border: 1px #ddd solid;
  padding-top: 20px;
}

.firts-row-inicio{
  min-height: 260px !important;
  height: 400px !important;
  margin-top: 3%;
  margin-left: 4%;

}
.box-perfil-picture{
  background-color: #5ab7de;
  height: 100%;
  padding-top: 2%; 
  border-top-right-radius: 7px; 
  border-top-left-radius: 7px; 
}

.box-perfil-picture img{
  width: 60%;
  border-radius: 100px;
  border: 5px solid white;
}

.box-perfil-cargo{
  margin-top: -5%;
}

.box-perfil-picture-child-2{
  margin-top: 5%;
}

.btnEditPerfilBienvenido{
  margin-top:20%;
}

.btnEditPerfilBienvenido span{
  margin-right:3%;
}
.cantidadMiembros{
  background-color: green;
  color:white;
  font-weight: 700;
  padding:5px;
  height: 30px;
  width: 30px;
}
.cantidadMiembrosMinisteriosLista li{
    list-style: none;
    margin-bottom: 6%;
}
.cantidadMiembrosMinisteriosLista2 li{
  height: 20px;
  width: 20px;
  list-style: none;
  margin-bottom: 3px;
}
.boxGraficaBienvenido {
  background-color: #eeeeee;
  margin-left: 3% !important;
}
.tituloLeyendaGrafica{
  padding-top: 9%;
}
.tituloLeyendaGrafica span{
  font-size: 23px;
  font-weight: 600;
}

.chartContainer > svg > g > rect{
  stroke: none !important;
  fill: #eeeeee !important;
}

.segundaSeccionBienvenido{
  margin-top: 5%;
  margin-bottom: 5%;
}
.cantidadCumpleanos{
  font-weight: 700;
  font-size: 25px;
  color:white;
}
.textoCumpleano{
  color:white;
}
.birthday-cake{
    font-size: 72px;
    padding: 30px;
    color: white;
}
.every-cumpleano{
 border: 1px #ddd solid;
}
.header-Cumpleano{
  background-color: #5ad8de;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.body-cumpleano{
  margin-top: 3%;
}
.nombreCumple{
  font-size: 11px;
    font-weight: 700;
    color: #337ab7;
}

#correoCumpleano{
  font-size: 11px;
  color: #777;
}
#telefonoCumpleano{
  font-size: 11px;
  color: #777;
}
.fechaCumple{
  font-size: 11px;
  color: #777; 
}
.imagenPadreCumple{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 1%;
}

.imagenPadreCumple img{
    border-radius:40px; 
   
}

.panel-primary{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#cargando3{
   width: 10%;
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 10%;
}
.header_bienvenido{
	margin-top:2%;
	margin-bottom:2%;
}

.header_bienvenido img{
	width:15%;
}

.btnCerrarSecion{
	
}


/*--------------------------Fin de Bienvenido--------------------------------*/


.seccion1{
	margin-top: 10%;
}
#logo-empresa{
	width: 50%;
}

.redes-sociales img{
	margin-left: 3%;
}

.seccion2{
	text-align: center;
	margin-top: 6%;
}

.seccion2 p {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
    font-size: 20px;
    font-weight: lighter;
}
.seccion2 h1 {
	font-size: 64px;
}
.seccion2 span {
	color: #22aae6;
}
/*------------------------------SERVICIOS---------------------------------------*/
.servicios{
	background-image: url('../img/fondo_entrenamientos.jpg');
	padding-bottom: 70px;
	color:white;
}
.servicios a{
	color: white !important;
	font-weight: 700;
}
.servicios img{
	margin-top: 15%;
}
.servicios p{
	font-size: 12px;
	font-family: 'Droid Sans', helvetica,arial, sans-serif;
}
.servicios h3{
	 font-size: 18px;
	 margin-bottom: 3px;
}
.seccion1s h2{
	color:white;
	font-family: 'DeliciousBold', helvetica, arial;
	margin-bottom: -2%;
}

/*-------------------------------SERVICIOS2-----------------------------------*/
.servicios2{
	background-image: url('../img/fondo_servicios.jpg');
	min-height: 648px;
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans', helvetica,arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
}
.servicios2 a{
	text-decoration: none;
    font-family: 'Droid Sans', helvetica,arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
}
.servicios2 h1{
	font-size: 18px;
    color: #000;
}
.servicios2 img{
	 padding: 16px;
    background-color: #fff;
    border-radius: 50%;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.seccion1S2{
	margin-top: 4%;
}
.seccion1S2 h2{
	color:white;
	font-family: 'DeliciousBold', helvetica, arial;
	margin-bottom: -2%;
	font-size: 36px;
}

/*---------------------------Que Hacemos--------------------------------*/
.seccion1h{
	margin-top: 4%;
}

.seccion1h h2{
	color:#22aae6;
	font-family: 'DeliciousBold', helvetica, arial;
	margin-bottom: -2%;
	font-size: 36px;
}
#LineaHacemos{
	background-color: black;
	height: 1px;
}
.hacemos h1{
	font-size: 58px;
	text-align: center;
}
.hacemos h2{
	font-size: 20px;
}

#subTema{
	font-family: 'DeliciousBold', helvetica, arial;
	font-size: 24px;
    text-align: center;
    margin-top: -2%;
}
.podras{
	margin-bottom: 5%;
}
.podras p{
	margin-top: 20%;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #505050;
}

/*-------------------------------------Contacto---------------------------------------*/
.contacto{
	background-image: url('../img/fondo_contactenos.jpg');
	min-height: 450px;
}

.contacto h2{
	color:white;
	font-family: 'DeliciousBold', helvetica, arial;
    font-weight: lighter;
    letter-spacing: -0.07em;
    line-height: 100%;
    font-size: 36px;
    margin-bottom: -2%;
}
.seccion1c{
	margin-top: 4%;
}

.contacto label{
	margin-right: 5% !important;
	font-family: 'DeliciousBold', helvetica, arial;
	font-size: 25px;
    font-weight: normal;
    letter-spacing: -0.07em;
    color: #fff;
}

.contacto input,textarea{
	height: 42px;
    width: 270px;
    background: #3c3c3c;
    border-style: none;
    margin-bottom: 15px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
}
.contacto textarea{
	min-height: 80px;

}
.contacto button{
	width: 145px;
    height: 55px;
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
   	margin-top: 4%;
    margin-bottom: 8%;
}

.lugar{
	color: #505050;
    border-radius: 10px;
    width: 370px;
    height: 225px;
    font-size: 16px;
    padding: 25px 0;
    float: left;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 1%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #ffffff 1%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #ffffff 1%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #ffffff 1%,#f0f0f0 100%);
    background: linear-gradient(to bottom, #ffffff 1%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );
    min-height: 250px;
}
.lugar p{
	margin-bottom: -1%;
}

.lugar h1{
	margin-top: 1%;
}

/*----------------------------------Footer-------------------------*/
#logo-empresa2{
	width: 10%;
}

.footer p{
	font-family: 'Droid Sans', helvetica,arial, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #fff;
}
.navFF{
	font-weight: 'normal';
	font-size: 17px;
	text-align: center;
	width: 100%;
	color:white;
}
.navFF ul{
	list-style: none;

}

.navFF li{
	display: inline-block;
	font-size: 12px;
	list-style: none;
    padding: 0 5px 0 7px;
    border-right: solid 1px #fff;
    display: inline;
}

.navFF ul>li:last-child{
    border-right: none;
}

.navFF a{
	font-weight: bold;
	color:white;
}

.navF ul{
	margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 0;
    background-color: #33abde;
    width: 540px;
    height: 35px;
    border-radius: 0 0 8px 8px;
    padding: 3px 0px;
}

.navF li{
	display: inline-block;
	margin-left: 3%;

}

.navF ul>li>a{
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 17px;
	font-family: 'DeliciousBold', helvetica, arial;
}

.navF ul>li>a:hover{
	    text-decoration: none; 
    color: #fff;
    -o-text-shadow: 0 0 5px #FFF;
    -moz-text-shadow: 0 0 5px #FFF;
    -webkit-text-shadow: 0 0 5px #FFF;
    text-shadow: 0 0 5px #FFF; 
    margin: 0 5px; 
     -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); 
}



/*--------------Backend---------------------*/

.navSBackend{
  font-weight: 'normal';
  font-size: 17px;
  z-index: 100;
    background: url('../img/header-shadow.png') repeat-x left bottom;
}

.navSBackend ul{
  margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 0;
   /* width: 780px;
    height: 35px;
    border-radius: 8px 8px 8px 8px;
    padding: 3px 0px;*/
}

.navSBackend li{
  display: inline-block;
  margin-left: 3%;

}

.navSBackend ul>li>a{
  text-decoration: none;
  display: inline-block;
  color: #000000;
  font-size: 20px;
  font-family: 'DeliciousBold', helvetica, arial;
}

.navSBackend ul>li>a:hover{
    color: #e3cda4;
  /*    text-decoration: none; 
    color: #fff;
    -o-text-shadow: 0 0 5px #FFF;
    -moz-text-shadow: 0 0 5px #FFF;
    -webkit-text-shadow: 0 0 5px #FFF;
    text-shadow: 0 0 5px #FFF; 
    margin: 0 5px; 
     -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); */
}
/*---------------------------------Membresia--------------------------------------*/
.menuLateralMembresia{
  border-right: #797373 1px solid;
}

.BoxGeneralMembresia{
  margin-top: 5%;
}

/*#inputCarreras,#labeSeleccioneCarreras{
  display: none;
}*/

.op1, .op2, .op3, .op4, .op5, .op6, .op7{
  display: none;
}

#cargando{
    width: 10%;
    position: absolute;
}

.cargando{
  display: none;
}
.errorFormularioMiembros{
  display: none;
}
.errorFormularioMiembros span{
  color: red;
}

#TabsId a{
  font-family: 'roboto';
}

#TabsId2 a{
  font-family: 'roboto';
}
.tab-Contenido{
  margin-top: 3%;
  overflow: auto;
  overflow-x:hidden;
  height: 400px;
  border-bottom: 1px solid #ddd;
}

.resenaEstadistica{
  margin-top: 5%;
  margin-bottom: 5%;
}

.resenaEstadistica p{
  font-family: 'DeliciousBold', helvetica, arial !important;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
}
.resenaEstadistica strong{
  font-family: 'DeliciousBold', helvetica, arial !important;
  font-size: 17px;
}
.resenaEstadistica span{
    font-family: helvetica, arial !important;
    font-size: 16px;
    margin-left: 4px;
}

.colorRojo{
  color:#FF000A;
}

.colorAzul{
  color:#337ab7;
}

.colorOrange{
  color:#E6A25A;
}
.colorLista{
  background-color:#D2D6DA;
}

#descripcionCambio{
  display: none;
}

.ausente{
  color:red;
}

.errorFormularioAsistenciaCheckRepetidos{
  display: none;
}

.errorFormularioAsistenciaCheckRepetidos h1{
  color:red;
}


/*Generador*/

.op1Ge, .op2Ge, .op3Ge, .op4Ge, .op5Ge, .op6Ge, .op7Ge{
  display: none;
}


/*------------------------------eventos-----------------------------*/

.opE1, .opE2{
  display: none;
}


/*----------------------------Single Miembro---------------------------------------*/
.contenedorSingleMiembro{
  margin-top: 2%;
  
}

.contenedorSingleMiembro p{
  font-family: 'DeliciousBold';
  font-size: 20px;
}

.contenedorSingleMiembro span{
  font-family: 'roboto';
  font-size: 18px;
}
.successFormularioMiembros{
  display: none;
}

.successFormularioMiembros span{
 color: blue;
}

.successFormularioAsistencia{
  display: none;
}

.successFormularioAsistencia h1{
   color: blue;
}

.successFormularioEvento{
  display: none;
}

.successFormularioEvento span{
   color: blue;
}
.ver_total_miembros_sigle_view{
  display: none;
}

/*-----------------Liderazgo----------------*/
.liderazgoContenido{
  margin-top: 10%;
}

.controlLideres{
  margin-top: 2%;
}

.controlLideres img{
  width: 70%;
  min-width: 220px;
  max-width: 220px;
  min-height: 260px;
  max-height: 260px;
  border-radius: 5px;
}

.controlLideres a{
  margin-bottom: 10%;  
  text-decoration: none !important;
}

.controlLideres strong{
  font-size: 18px;
}

.controlLideres center{
      margin-bottom: 15%;
}

/*--------------Multimedia--------------*/
.multimediaContenido{
   margin-top: 10%;
}

#cargandoMultimedia{
    width: 10%;
    position: absolute;
}

.cargandoMultimedia{
  display: none;
}

.multimediaContenido2{
  margin-top: 3%;
}

.cajaGrupoAudio{
  margin-left: 0 !important;
  /*max-height: 155px;*/
  margin-bottom: 5%;
}
.cajaGrupoAudio img{
  width: 70%;
  text-align: center;

}

.cajaGrupoAudio p{
  text-align: center;
  font-size: 15px;
  margin-top: -5px;
}

.cajaGrupoFoto{
  margin-left: 0 !important;
  /*max-height: 155px;*/
  margin-bottom: 5%;
}
.cajaGrupoFoto img{
  width: 70%;
  text-align: center;

}

.cajaGrupoFoto p{
  text-align: center;
  font-size: 15px;
  margin-top: -5px;
}

.tab-ContenidoMultimedia{
  margin-top: 3%;
 min-height: 780px;
 /*overflow-y: auto;
 overflow-y: hidden;
    overflow-x: hidden;*/
    margin-bottom: 10%;
}

.cajaAudios{
  margin-top: 15%;
  margin-bottom: 15%;
}
.seriesReturn, .mensajesReturn, .tlReturn, .matReturn{
  display: none;
  overflow-y: auto;
  overflow-x: hidden; 
}

.seriesReturn img{
  max-height: 100px;
}


/*--------------Multimedia Backend--------------*/
.multimediaContenido{
   margin-top: 10%;
}

.menuLateralMultimedia{
    border-right: 1px solid #ccc;
}

.opcionMultimedia1, .opcionMultimedia2, .opcionMultimedia3,.opcionMultimedia4,.opcionMultimedia5{
  display: none;
}

.removerFoto p {
  margin-top: 3%;
}

.boxCatAudioInsert{
	min-height: 250px !important;
    text-align: center;
    font-size: 22px;
    background-color: #333333;
    margin-left: 4%;
    margin-bottom: 3%;
    vertical-align: middle;
    color: #dadada;
}

.boxCatAudioInsert:hover{
	min-height: 250px !important;
    text-align: center;
    font-size: 22px;
    background-color: #333333;
    margin-left: 4%;
    margin-bottom: 3%;
    vertical-align: middle;
    font-weight: 700;
    color: white;
    cursor:pointer;
}



.boxCatAudioInsertChild{
	margin-top:40%;
}

.fechaAtras {
	margin-bottom: 3%;
    font-size: 35px;
    cursor: pointer;
    float:right;
}

.fechaAtras:hover {
    margin-bottom: 2%;
    font-size: 40px;
    cursor: pointer;
    float:right;
}

.cajaSeriesAudio{
	background-color: #d7dce2;
	margin-right:5%;
	margin-bottom: 3%;
}
.row2{
	margin-left: -15px !important;	
	margin-top:0px !important;
}

.buttonAbrir {
    text-align: center;
    /* margin-left: 5%; */
    background-color: #9a4b1c;
    color: white;
    font-weight: 700;
    cursor: pointer;
    
}  
.ng-hide {
    height: 0;
    width: 0;
    top: -200px;
    background-color: #9a4b1c;
}  

.tituloSerie {
    text-align: center;
    /* margin-left: 5%; */
    background-color: #d86c2c;
    color: white;
    font-weight: 700;
    transition: all linear 0.5s;
}

.atrasFormSerie{
	float: right;
    	margin-bottom: 2%;
}

/*--------------Nosotros--------------*/
.nosotrosContenido{
  margin-top: 10%;
}




/*---------------------Celulas---------------------*/
.Bajar{
  margin-top: 11%;
}

#cargando2{
    width: 10%;
    position: absolute;
}

.cargando2{
  display: none;
}

.errorFormularioGCrecimiento{
  display: none;
}
.errorFormularioGCrecimiento span{
  color: red;
}

.menuLateralCelula{
  border-right: #797373 1px solid;
}

.BoxGeneralCelula{
  margin-top: 5%;
}

.opc1, .opc2, .opc3, .opc4, .opc5, .opc6, .opc7,.successFormularioCelula{
  display: none;
}

.opc1 p{
  color :black;
}

.integrantes{
  display: none;
}

.integrantesFuera{
  margin-bottom: 5%;
}

#integrantes{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
}
.integrantesDentro{
      border: 1px solid #ccc;
}

.integrantesDentro p{
  padding-top: 8px;
}

#descripcionCambioLider{
  display: none;
}

/*-------------------------------- Noticias ----------------------------------*/

#cargandoNoticias{
    width: 10%;
    position: absolute;
}

.cargandoNoticias{
  display: none;
}

.errorFormularioNoticias{
  display: none;
}
.errorFormularioNoticias span{
  color: red;
}
.BoxGeneralNoticias{
  margin-top: 5%;
}
.menuLateralNoticias{
  border-right: #797373 1px solid;
}
.opci1, .opci2, .opci3,.successFormularioNoticias{
  display: none;
}
.columna{
  margin-bottom: -12%;
  border-right: #ccc 2px solid;
}

.columna2 img{
  width: 95%;
  max-height:200px;
  min-height: 200px;
}

.columna2{
  margin-bottom: 5%;
  margin-left: 1%;
  border-right: #ccc 2px solid;
}

.columna3{
  
  margin-left: 1%;
}

.noticiasView > p{
  color: black !important;
}

.noticiasView > a{
  color: black !important;
}

.noticiasView > span{
  color: black !important;
}
.verMas{
  float:right;
  margin-right: 5%;
}

.noticiasView > .columna > .row{
  margin-top: 0 !important;
}

.noticiasView > .columna2 > .row{
  margin-top: 0 !important;
}

.noticiasView > .columna3 > .row{
  margin-top: 0 !important;
}

.successFormularioNoticias {
  display: none;
}
.successFormularioNoticias h1{
   color: #337ab7;
}
.body-backend2-desc{
  text-align: justify;
  overflow: auto;
  max-height: 400px;
}

/*--------------------------------Actividades----------------------------------*/
.opciA1, .opciA2, .opciA3{
  display: none;
}

.sigle_actividad_textos span{
font-weight: 700;
}



.hidden{
  display: none;
}
/*----------Redes Sociales --------*/
.fotosInstagram {
  margin-top: 3%;
  display: none;
}
.fotosInstagram img{
  width: 100%;
}
.videosYoutube{
   margin-top: 3%;
    display: none;
}
#videoYT{

}
.fotosFacebook{
  margin-top: 3%; 
   display: none;
}
.fotosFacebook img{
  height: 240px;
}



/*-------------Ministerios-------------------*/
.opcio1, .opcio2, .opcio3, .opcio4, .opcio5, .opcio6, .opcio7,.opcio8, .opcio11, .opcio22{
  display: none;
}

.contenidoMinisterio img {
    width: 100%;
    height: 100px;
    float: inherit;
  }

.margenRow{
    margin-bottom: 15%;
  }

/*-------------Estadistica-------------------*/
.opcion1, .opcion2, .opcion3, .opcion4, .opcion5, .opcion6, .opcion7,.opcion8{
  display: none;
}

.menuLateralEstadistica{
    border-right: 1px solid #ccc;
}

.contenidoEstadistica label{
  margin-right:8%;
  padding-top: 6px; 
}

#mujeresPorActividad, #hombresPorActividad{
  display: none;
  text-align: center;
}

.leyendaEstadistica{
  display: none;
}

/*-----------------Finanzas--------------*/
.opcionf1, .opcionf2, .opcionf3, .opcionf4, .opcionf5, .opcionf6, .opcionf7,.opcionf8{
  display: none;
}

.contenidoFinanzas{
  border-left: 1px solid #ddd;
}

.iconPlus{
  font-size: 24px;
  cursor: pointer;
  top:7px !important;
}

.iconRemove{
  font-size: 24px;
  cursor: pointer;
  top:7px !important;
}

#cantidadGastos{
  display: none;
}

.tablaDeOfrendas > .col-md-12 >.row{
  border: 1px solid #ccc;
}

.tablaDeOfrendas > .col-md-12 >.row > .col-md-2{
  border-left: 1px solid #ccc;
}


.tablaDeOfrendas > .col-md-12 >.row > .col-md-1{
  border-left: 1px solid #ccc;
}

.tablaDeGastos > .col-md-3{
  border: 1px solid #ccc;
}

.tablaDeGastos > .col-md-9{
  border: 1px solid #ccc;
}

/*--------------Economia----------------*/
.opcione1, .opcione2, .opcione3, .opcione4, .opcione5, .opcione6, .opcione7,.opcione8{
  display: none;
}

.BoxEconomia{
  border: 1px solid #ccc;
}
.BoxEconomia p{
  font-size: 12px;
}

/*--------------------------------------Usuarios--------------------------------------*/
.error{
  color: red;
}

.labelPassError{
      display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color:red !important;
}

#cargandoGifUsuario{
    width: 10%;
    position: absolute;
}

.cargandoGifUsuario{
  display: none;
}


.ui-widget-header{
  background: none !important;
  background-color: #337ab7 !important;
  

}
.ui-widget-header span{
  color: white;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.losP p {
  text-align: justify;
}

.justificado{
  text-align: justify;
}

.successContacto {
   display: none;
  background: #82BF2B;
  min-height: 50px !important;
}
.successContacto p{
 
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}
.estiloImagenes img{
  border: 1px #CCC solid;
  height: 225px;
}

.estiloImagenes p{
 text-align: justify;
}

/*-------------------- Tipos de tamaño------------------*/

@media (max-width: 768px) { 
  .centrarTituloxs h1,h2,h3{
      text-align: center;
  } 

  .floatRight a{
    float: right;
  }
}

@media (min-width: 768px) and (max-width: 992px) { ... }
@media (min-width: 992px) and (max-width:1200px) { ... }
@media (min-width: 1200px) { ... }